<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, projection" />
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34529666-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <div id="wrapper">
    <!-- start header -->
    <div id="header">
      <h1>Jenny's Blog </h1>
    </div>
    <!-- end header -->

    <!-- start page -->
    <div id="page">
      <!-- start content -->
      <div id="content">
        {{content}}
      </div>
      <!-- end content -->
      <!-- start sidebar -->
      <div id="sidebar">
        <ul>
          <li>
            <h2>Categories</h2>
            <ul>
              <li><a href="/me">about me</a></li>
              <li><a href="/work">my work</a></li>
              <li><a href="/travel">my travel</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- end sidebar -->
    </div>
    <!-- end page -->
  </div>

  <!-- start footer -->
  <div id="footer">
    <p>Copyright &copy; 2012. All rights reserved.</p>
    </div>
  </div>
  <!-- end footer -->

</body>
</html>
